In [1]:
!pip3 install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Collecting pandas>=0.24
  Downloading pandas-1.3.0-cp39-cp39-macosx_10_9_x86_64.whl (11.6 MB)
     |████████████████████████████████| 11.6 MB 6.0 MB/s eta 0:00:01
Collecting numpy>=1.15
  Downloading numpy-1.21.0-cp39-cp39-macosx_10_9_x86_64.whl (16.9 MB)
     |████████████████████████████████| 16.9 MB 3.1 MB/s eta 0:00:01
Collecting requests>=2.20
  Downloading requests-2.26.0-py2.py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.3 MB/s eta 0:00:01
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp39-cp39-macosx_10_9_x86_64.whl (4.6 MB)
     |████████████████████████████████| 4.6 MB 5.9 MB/s eta 0:00:01
Collecting pytz>=2017.3
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 4.2 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.16.0)
Collecting urllib3<1.27,>=1.21.1
  Downloading urllib3-1.26.6-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 4.2 MB/s eta 0:00:01
Collecting idna<4,>=2.5
  Downloading idna-3.2-py3-none-any.whl (59 kB)
     |████████████████████████████████| 59 kB 4.0 MB/s eta 0:00:01
Requirement already satisfied: certifi>=2017.4.17 in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from requests>=2.20->yfinance) (2021.5.30)
Collecting charset-normalizer~=2.0.0
  Downloading charset_normalizer-2.0.2-py3-none-any.whl (35 kB)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23909 sha256=6380972b7d01fc359ae8c22b25ce08e84c4e0f3026c8721e713dcbf8aae3ca65
  Stored in directory: /Users/hana/Library/Caches/pip/wheels/44/19/52/4db92c8786b13e717b9664529da13bf8d7b74aff580ca64fc0
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8368 sha256=dfb4110584d149dbaeb3b475de1f4a074bfda3a5c0a2337edebc933e3231d7bf
  Stored in directory: /Users/hana/Library/Caches/pip/wheels/1d/13/0b/0c32509050dcd9264e9a90b1d9d2dc9c6db9538db151ea7d26
Successfully built yfinance multitasking
Installing collected packages: urllib3, pytz, numpy, idna, charset-normalizer, requests, pandas, multitasking, lxml, yfinance
Successfully installed charset-normalizer-2.0.2 idna-3.2 lxml-4.6.3 multitasking-0.0.9 numpy-1.21.0 pandas-1.3.0 pytz-2021.1 requests-2.26.0 urllib3-1.26.6 yfinance-0.1.63

In [158]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [6]:
!pip3 install matplotlib

Requirement already satisfied: matplotlib in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (3.4.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: numpy>=1.16 in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from matplotlib) (1.21.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from matplotlib) (8.3.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from cycler>=0.10->matplotlib) (1.16.0)

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [161]:
days = 20
tickers = {
    'Bitcoin': 'BTC-USD',
    'Ethereum': 'ETH-USD',
    'Cardano': 'ADA-USD',
    'Dogecoin': 'DOGE-USD',
    'Tesla': 'TSLA',
    'Nvdia': 'NVDA',
    'Facebook': 'FB',
    'Alphabet': 'GOOG',
    'Twitter': 'TWTR',
    'Apple': 'AAPL'
}
def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
        ticker = yf.Ticker(tickers[company])
        hist = ticker.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])
    return df

In [162]:
df

Date,27 June 2021,28 June 2021,29 June 2021,30 June 2021,01 July 2021,02 July 2021,03 July 2021,04 July 2021,05 July 2021,06 July 2021,...,14 July 2021,15 July 2021,16 July 2021,17 June 2021,18 June 2021,21 June 2021,22 June 2021,23 June 2021,24 June 2021,25 June 2021
Name,,,,,,,,,,,,,,,,,,,,,
Bitcoin,34649.644531,34434.335938,35867.777344,35040.835938,33572.117188,33897.046875,34668.546875,35287.781250,33746.003906,34235.195312,...,32822.347656,31780.730469,31780.021484,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ethereum,1978.894653,2079.657471,2160.768311,2274.547607,2113.605469,2150.040283,2226.114258,2321.724121,2198.582520,2324.679443,...,1994.331299,1911.175659,1927.264526,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cardano,1.335202,1.324752,1.368437,1.383472,1.335611,1.394397,1.406836,1.458184,1.404898,1.418053,...,1.262258,1.223192,1.220490,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dogecoin,0.264450,0.256857,0.262769,0.254215,0.244549,0.245264,0.246411,0.246483,0.231614,0.234422,...,0.197324,0.184888,0.184382,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tesla,NaN,688.719971,680.760010,679.700012,677.919983,678.900024,NaN,NaN,NaN,659.580017,...,653.380005,650.599976,NaN,616.599976,623.309998,620.830017,623.710022,656.570007,679.820007,671.869995
Nvdia,NaN,799.400024,801.070007,800.099976,808.479980,819.479980,NaN,NaN,NaN,827.940002,...,793.659973,758.650024,NaN,746.289978,745.549988,737.090027,755.469971,762.289978,768.219971,761.239990
Facebook,NaN,355.640015,351.890015,347.709991,354.390015,354.700012,NaN,NaN,NaN,352.779999,...,347.630005,344.459991,NaN,336.510010,329.660004,332.290009,339.029999,340.589996,343.179993,341.369995
Alphabet,NaN,2536.389893,2520.370117,2506.320068,2527.370117,2574.379883,NaN,NaN,NaN,2595.419922,...,2641.649902,2625.330078,NaN,2527.419922,2511.350098,2529.100098,2539.989990,2529.229980,2545.639893,2539.899902
Twitter,NaN,68.290001,69.000000,68.809998,68.110001,69.199997,NaN,NaN,NaN,70.209999,...,70.269997,68.070000,NaN,60.709999,60.849998,61.959999,63.779999,66.489998,68.250000,67.930000

In [150]:
!pip3 install altair

Collecting altair
  Downloading altair-4.1.0-py3-none-any.whl (727 kB)
     |████████████████████████████████| 727 kB 3.3 MB/s eta 0:00:01
Requirement already satisfied: numpy in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from altair) (1.21.0)
Requirement already satisfied: pandas>=0.18 in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from altair) (1.3.0)
Requirement already satisfied: jinja2 in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from altair) (3.0.1)
Requirement already satisfied: entrypoints in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from altair) (0.3)
Collecting toolz
  Downloading toolz-0.11.1-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 5.8 MB/s eta 0:00:01
Requirement already satisfied: jsonschema in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from altair) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from pandas>=0.18->altair) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from pandas>=0.18->altair) (2021.1)
Requirement already satisfied: six>=1.5 in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.18->altair) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from jinja2->altair) (2.0.1)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from jsonschema->altair) (0.17.3)
Requirement already satisfied: setuptools in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from jsonschema->altair) (52.0.0.post20210125)
Requirement already satisfied: attrs>=17.4.0 in /Users/hana/.miniconda/envs/jupyter/lib/python3.9/site-packages (from jsonschema->altair) (21.2.0)
Installing collected packages: toolz, altair
Successfully installed altair-4.1.0 toolz-0.11.1

In [151]:
import altair as alt

In [155]:
df

Date,27 June 2021,28 June 2021,29 June 2021,30 June 2021,01 July 2021,02 July 2021,03 July 2021,04 July 2021,05 July 2021,06 July 2021,...,14 July 2021,15 July 2021,16 July 2021,17 June 2021,18 June 2021,21 June 2021,22 June 2021,23 June 2021,24 June 2021,25 June 2021
Name,,,,,,,,,,,,,,,,,,,,,
Bitcoin,34649.644531,34434.335938,35867.777344,35040.835938,33572.117188,33897.046875,34668.546875,35287.781250,33746.003906,34235.195312,...,32822.347656,31780.730469,31780.021484,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ethereum,1978.894653,2079.657471,2160.768311,2274.547607,2113.605469,2150.040283,2226.114258,2321.724121,2198.582520,2324.679443,...,1994.331299,1911.175659,1927.264526,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cardano,1.335202,1.324752,1.368437,1.383472,1.335611,1.394397,1.406836,1.458184,1.404898,1.418053,...,1.262258,1.223192,1.220490,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dogecoin,0.264450,0.256857,0.262769,0.254215,0.244549,0.245264,0.246411,0.246483,0.231614,0.234422,...,0.197324,0.184888,0.184382,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tesla,NaN,688.719971,680.760010,679.700012,677.919983,678.900024,NaN,NaN,NaN,659.580017,...,653.380005,650.599976,NaN,616.599976,623.309998,620.830017,623.710022,656.570007,679.820007,671.869995
Nvdia,NaN,799.400024,801.070007,800.099976,808.479980,819.479980,NaN,NaN,NaN,827.940002,...,793.659973,758.650024,NaN,746.289978,745.549988,737.090027,755.469971,762.289978,768.219971,761.239990
Facebook,NaN,355.640015,351.890015,347.709991,354.390015,354.700012,NaN,NaN,NaN,352.779999,...,347.630005,344.459991,NaN,336.510010,329.660004,332.290009,339.029999,340.589996,343.179993,341.369995
Alphabet,NaN,2536.389893,2520.370117,2506.320068,2527.370117,2574.379883,NaN,NaN,NaN,2595.419922,...,2641.649902,2625.330078,NaN,2527.419922,2511.350098,2529.100098,2539.989990,2529.229980,2545.639893,2539.899902
Twitter,NaN,68.290001,69.000000,68.809998,68.110001,69.199997,NaN,NaN,NaN,70.209999,...,70.269997,68.070000,NaN,60.709999,60.849998,61.959999,63.779999,66.489998,68.250000,67.930000

In [186]:
companies = ['Bitcoin', 'Ethereum']
data = df.loc[companies]

In [187]:
data.sort_index()

Date,27 June 2021,28 June 2021,29 June 2021,30 June 2021,01 July 2021,02 July 2021,03 July 2021,04 July 2021,05 July 2021,06 July 2021,...,14 July 2021,15 July 2021,16 July 2021,17 June 2021,18 June 2021,21 June 2021,22 June 2021,23 June 2021,24 June 2021,25 June 2021
Name,,,,,,,,,,,,,,,,,,,,,
Bitcoin,34649.644531,34434.335938,35867.777344,35040.835938,33572.117188,33897.046875,34668.546875,35287.781250,33746.003906,34235.195312,...,32822.347656,31780.730469,31780.021484,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ethereum,1978.894653,2079.657471,2160.768311,2274.547607,2113.605469,2150.040283,2226.114258,2321.724121,2198.582520,2324.679443,...,1994.331299,1911.175659,1927.264526,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
data = data.T.reset_index()

In [189]:
data.head()

Name          Date       Bitcoin     Ethereum
0     27 June 2021  34649.644531  1978.894653
1     28 June 2021  34434.335938  2079.657471
2     29 June 2021  35867.777344  2160.768311
3     30 June 2021  35040.835938  2274.547607
4     01 July 2021  33572.117188  2113.605469

In [190]:
data = pd.melt(data, id_vars=['Date']).rename(
    columns={'value': 'Prices(USD)'}
)
data

            Date      Name   Prices(USD)
0   27 June 2021   Bitcoin  34649.644531
1   28 June 2021   Bitcoin  34434.335938
2   29 June 2021   Bitcoin  35867.777344
3   30 June 2021   Bitcoin  35040.835938
4   01 July 2021   Bitcoin  33572.117188
5   02 July 2021   Bitcoin  33897.046875
6   03 July 2021   Bitcoin  34668.546875
7   04 July 2021   Bitcoin  35287.781250
8   05 July 2021   Bitcoin  33746.003906
9   06 July 2021   Bitcoin  34235.195312
10  07 July 2021   Bitcoin  33855.328125
11  08 July 2021   Bitcoin  32877.371094
12  09 July 2021   Bitcoin  33798.011719
13  10 July 2021   Bitcoin  33520.519531
14  11 July 2021   Bitcoin  34240.187500
15  12 July 2021   Bitcoin  33155.847656
16  13 July 2021   Bitcoin  32702.025391
17  14 July 2021   Bitcoin  32822.347656
18  15 July 2021   Bitcoin  31780.730469
19  16 July 2021   Bitcoin  31780.021484
20  17 June 2021   Bitcoin           NaN
21  18 June 2021   Bitcoin           NaN
22  21 June 2021   Bitcoin           NaN
23  22 June 2021   Bitcoin           NaN
24  23 June 2021   Bitcoin           NaN
25  24 June 2021   Bitcoin           NaN
26  25 June 2021   Bitcoin           NaN
27  27 June 2021  Ethereum   1978.894653
28  28 June 2021  Ethereum   2079.657471
29  29 June 2021  Ethereum   2160.768311
30  30 June 2021  Ethereum   2274.547607
31  01 July 2021  Ethereum   2113.605469
32  02 July 2021  Ethereum   2150.040283
33  03 July 2021  Ethereum   2226.114258
34  04 July 2021  Ethereum   2321.724121
35  05 July 2021  Ethereum   2198.582520
36  06 July 2021  Ethereum   2324.679443
37  07 July 2021  Ethereum   2315.161865
38  08 July 2021  Ethereum   2120.026367
39  09 July 2021  Ethereum   2146.692383
40  10 July 2021  Ethereum   2111.403564
41  11 July 2021  Ethereum   2139.664795
42  12 July 2021  Ethereum   2036.721069
43  13 July 2021  Ethereum   1940.083984
44  14 July 2021  Ethereum   1994.331299
45  15 July 2021  Ethereum   1911.175659
46  16 July 2021  Ethereum   1927.264526
47  17 June 2021  Ethereum           NaN
48  18 June 2021  Ethereum           NaN
49  21 June 2021  Ethereum           NaN
50  22 June 2021  Ethereum           NaN
51  23 June 2021  Ethereum           NaN
52  24 June 2021  Ethereum           NaN
53  25 June 2021  Ethereum           NaN

In [196]:
chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip=True)
    .encode(
    x='Date:T',
    y=alt.Y('Prices(USD):Q', stack=None, scale=alt.Scale(domain=[1000, 4000])),
    color='Name:N'    
    )
)

In [197]:
chart

alt.Chart(...)